/* Colors */
$secondary-color: #EEEEEE;
$primary-color: #125D98;
$danger-color: #F8485E;
$warning-color: #FFC93C;
$white: #FFF;
$black: #000;
$body-background: #F6F6F6;
/* Colors */

/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Italianno&family=Oswald&family=Roboto:wght@300&display=swap');
$Italiano: 'Italianno', cursive;
$Oswald: 'Oswald', sans-serif;
$Roboto: 'Roboto', sans-serif;
/* fonts */

